@page
@model DrinkMiBeer.Web.Pages.Admin.AdminModel
@{
    ViewData["Title"] = "Admin";
}

<h2>Admin</h2>


<button class="btn esh-basket-checkout" name="updatebutton" value="" type="submit"
        asp-page-handler="Update">
    [Update]
</button>

